:root{
  --red:#d01c28;
  --grey:#2e2e2e;
}
*{
  margin: 0;
}
body {
  font-family: "poppins", sans-serif;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  max-width:1280px;
  height: 72PX;
  margin:10px auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  text-decoration:none;
}
nav ul li {
  cursor :pointer;
}
  nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Ensure link text inherits the color from its parent */

}
nav button{
  height: 34px;
  /* width: 54px; */
  border-radius:20PX;
  padding: 6px 16px;
  cursor :pointer;
  background:  var(--red);
font-size: medium;
  color: white;
  font-weight: 500;
  font-weight: 700;
}
